@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
.group {
  position: relative;
  overflow: hidden;
}

.group img {
  transition: transform 0.3s ease;
}

.group:hover img {
  transform: scale(1.05);
}

.group .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.group:hover .overlay {
  opacity: 1;
}

.group .overlay h3 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.group .overlay p {
  color: #ccc;
}

.group .overlay button {
  background: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  margin-top: 0.5rem;
  transition: background 0.3s ease;
}

.group .overlay button:hover {
  background: #555;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* Remove or adjust the background color */
  background: transparent; /* Or simply remove this line */
  margin-bottom: 30px;
}
/* Dropdown Menu Styles */
.dropdown-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2rem;
  width: 12rem;
  background-color: #000;
  color: #fff;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 50; /* Ensure it's on top */
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
}

.menu-item {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #fff;
  font-size: 0.875rem;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #333;
}

.menu-item.text-red-500 {
  color: #f56565;
}
